# Environment variables
.env

# Python
__pycache__
*.pyc
*.pyo

# Database files  
data/
*.db
*.sqlite
*.sqlite3

# Logs
*.log
*.log.*

# macOS
.DS_Store

# Static assets (if needed)
static/mqttui-logo-svg.svg
static/mqttui-logo.png*.db-shm
*.db-wal
